.container {
    width: 900px;
    background-color: black;
    border: 5px solid gold;
    display: flex;
    flex-direction: row;
    margin: auto;

}

.column {
    background-color: pink;
    border: 5px solid black;
    width: 33%;
}

.line {
    display: flex;
    cursor: grab;
    background-color:orange;
    border: 5px solid green;
    height: 20px;
    list-style-type: none;
}

.line.dragged {
    cursor: grabbing;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    background: #fff;
    width: 240px;
    transform: rotate(-3deg);
}

.closeButton {
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-color: #fff;
    top: 2px;
    right: -205px;
    width: 15px;
    height: 15px;    
}

.closeButton::before {
    content: ' \E951 ';
}

.closeButton:hover{
    border: 1px solid purple;
}

.addLine {
    display: inline-block;
    color: green;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}

.addLine:hover {
    color: red;
}

.column1 .line {
    background-color: orange;
}

.column2 .line{
    background-color: purple;
}

.column3 .line{
    background-color: brown;
}